<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <context:component-scan base-package="de.ingrid">
         <context:exclude-filter type="regex" expression="de\.ingrid\.iplug\.dsc\.webapp\.controller\.DatabaseParameterController"/>
         <context:exclude-filter type="regex" expression="de\.ingrid\.iplug\.dsc\.DscSearchPlug"/>
        <!-- STEMMER: Exclude autocreation of stemmers ! We explicitly create stemmer via xml then used in auto wiring ! -->
        <context:exclude-filter type="regex" expression="de.ingrid.admin.search.*Stemmer*" />
    </context:component-scan>
    
    <bean id="dscDocumentProducer" class="de.ingrid.iplug.dsc.index.producer.DscWmsDocumentProducer">
        <property name="recordSetProducer" ref="recordSetProducer" />
        <property name="recordMapperList">
            <list>
                <ref bean="recordMapperLucene"/>
                <ref bean="recordMapperIdf"/>
            </list>
        </property>
    </bean>

    <bean id="recordSetProducer" class="de.ingrid.iplug.dsc.index.producer.PlugDescriptionConfiguredWmsRecordSetProducer">
        <property name="idTag" value="//capabilitiesUrl" />
    </bean>

    <bean id="recordMapperLucene" class="de.ingrid.iplug.dsc.index.mapper.ScriptedWmsDocumentMapper">
        <property name="mappingScript" value="classpath:mapping/wms_to_lucene.js" />
        <property name="compile" value="true" />
    </bean>
    
    <bean id="recordMapperIdf" class="de.ingrid.iplug.dsc.index.mapper.ScriptedIdfDocumentMapper">
        <property name="mappingScript" value="classpath:mapping/wms_to_idf.js" />
        <property name="compile" value="true" />
    </bean>    


    <bean id="dscMapclientSearchPlug" class="de.ingrid.iplug.dsc.DscMapclientSearchPlug">
        <property name="dscRecordProducer" ref="dscRecordProducer" />
    </bean>
    
    <bean id="dscRecordProducer" class="de.ingrid.iplug.dsc.record.DscRecordCreator">
        <property name="recordProducer" ref="recordProducer" />
        <property name="record2IdfMapperList">
            <list>
                <ref bean="createWmsIdfMapper"/>
            </list>
        </property>
    </bean>
    
    <bean id="recordProducer" class="de.ingrid.iplug.dsc.record.producer.PlugDescriptionConfiguredWmsRecordProducer">
        <property name="indexFieldID" value="idf" />
    </bean>
    
    <bean id="createWmsIdfMapper" class="de.ingrid.iplug.dsc.record.mapper.CreateWmsIdfMapper"/>


</beans>
